<h1>This is the secret page!</h1>

<p>You found me!</p>

<img src="https://images.unsplash.com/photo-1490724500206-cd5482e02b9e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=c3fbdb9d32de42536ccf35d90ae01fd4">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>