<% include partials/header %>

<h1>This is the home page!</h1>

<img src="https://images.unsplash.com/photo-1476297820623-03984cf5cdbb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=9b5f3ec612381a134b97b1f89d60e049">

<% include partials/footer %>